@model IEnumerable<Planilla_TBD.Models.ColaboradoresParametrosListModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ID_PARAMETRO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ID_PARAMETRO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ID_PARAMETRO =item.ID_PARAMETRO, ID_COLABORADOR = item.ID_COLABORADOR}) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { ID_PARAMETRO = item.ID_PARAMETRO, ID_COLABORADOR = item.ID_COLABORADOR })
        </td>
    </tr>
}

</table>
