@model IEnumerable<Planilla_TBD.Models.DepartamentosListModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_DEPARTAMENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DEPARTAMENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DEPARTAMENTO, NOMBRE = item.NOMBRE }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ID_DEPARTAMENTO })
        </td>
    </tr>
}

</table>
