@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                
                            <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
                            <li>@Html.ActionLink("Colaboradores", "ColaboradoresList", "Colaboradores")</li>
                            <li>@Html.ActionLink("Departamentos", "DepartamentosList", "Departamentos")</li>
                            <li>@Html.ActionLink("Planillas", "PlanillasList", "Planillas")</li>
                            <li>@Html.ActionLink("Administrar Tipos", "TipoPlanillaList", "TipoPlanilla")</li>
                            <li>@Html.ActionLink("Parametros", "ParametrosList", "Parametros")</li>
                            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>Library</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
                      
                   
            </ul>
        </div>
        <div class="col-md-9 well">
            Vertical admin menu
        </div>
    </div>
</div>
